.divMain {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 1%;
    transition: transform .4s;
}
.divMain:hover {
    transform: scale(1.05);
    background-color: var(--ternary-color-500);
}
.divName {
    text-align: center;
}
.img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.img:hover {
    opacity: .9;
}
.animatefade {
    animation-name: animate-fade;
    animation-duration: 0.5s;
    animation-delay: .7s;

}
@keyframes animate-fade {
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
}
.animatezoom {
    animation-name: animate-zoom;
    animation-duration: 0.5s;

}
@keyframes animate-zoom {
    0% {
      scale: 0;
    }
    100% {
      scale: 1;
    }
}  
.animatezoomout {
    animation-name: animate-zoomout;
    animation-duration: 0.5s;

}
@keyframes animate-zoomout {
    0% {
      scale: 0;
    }
}  
@media (max-width: 640px){
    .divMain {
        margin: 20px 0px 20px 0px;
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 850px){
    .divMain {
        margin: 0px 10px 10px 10px;
        width: 100%;
        height: 100%;
    }
}