.btnVisitame {
    @apply flex justify-center rounded-full bg-[#526D82] mx-2 px-9 py-1.5 text-sm font-semibold transition duration-700 leading-6 text-white shadow-sm hover:bg-[#27374D] transform hover:scale-110 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
.divMain {
    background-color: #DDE6ED;
}
.divTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    font-weight:600;
}
.txtHeaders {
    font-size: 20px;
    font-weight:600;
}
.divBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.divContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divTech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 340px;
    margin : 0 auto;
    padding-top: 80px;
    padding-left: 20px;
}
.divButtons {
    display: flex;
    flex-direction: row;
}
.txtContent {
    text-align: justify;
}
.imgIcon {
    margin: 10px auto;
    width: 180px; 
    height: 180px;
}
@media (max-width: 1000px) {
    .divContent {
        flex-direction: column;
    }
}
.iframe {
    width: 100%; 
    height: 850px;
}