.divFirst {
    margin: 1%;
}
.divAux{
    display: flex;
    flex-direction: column;
    background-color: var(--quaternary-color-500);
    border-radius: 20px 20px;
    align-items: center;
    justify-content: center;
    padding: 8% 4% 8% 4%;
}
.divMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btnCard {
    display: flex;
}
.btnClose {
    @apply flex justify-center rounded-full bg-[#526D82] px-9 py-1.5 text-sm font-semibold transition duration-700 leading-6 text-white shadow-sm hover:bg-[#27374D] transform hover:scale-110 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
.destination {
    position:absolute;
    z-index:-1;
    left:0;
    margin-top:-80px;/* height of nav*/
}
.txtTitle {
    padding-bottom: 100%;
    font-size: 30px;
    font-weight:600;
}
@media (max-width: 844px) {
    .destination {
        margin-top:-70px;
    }
}
@media (max-width: 640px) {
    .divMain {
        flex-direction: column;
    }
    .txtTitle {
        padding-bottom: 10%;
    }
    .destination {
        margin-top:-64px;
    }
}
@media (max-width: 390px) {
    .txtTitle {
        font-size: 20px;
    }
    .destination {
        margin-top:-64px;
    }
}