.divFirst {
    margin: 1%;
    position: relative;
}
.divMain {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color-500);
    padding: 8% 4% 8% 4%;
    border-radius: 20px 20px;
    justify-content: center;
    align-items: center;
    height:100%;
}
.destination {
    position:absolute;
    z-index:-1;
    left:0;
    margin-top:-80px;/* height of nav*/
}
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.txtTitle {
    text-align: center;
    font-size: 30px;
    font-weight:600;
    color: white;
}
.txtAlert {
    font-size: 12px;
    padding-top: 15px;
    color: white;
}
.noborder {
    border: 0;
}
.btnCancelar{
    color: gainsboro;
}
.spinner {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    align-items: center;
    z-index: 1;
}
.spinnerSize {
    width: 8rem;
    height: 8rem;
}
.animatefade {
    animation-name: animate-fade;
    animation-duration: 0.5s;
    animation-delay: .6s;
    animation-fill-mode: backwards;
    -webkit-animation-name: animate-fade;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: .6s;
    -webkit-animation-fill-mode: backwards;
}
@keyframes animate-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.animatefadeout {
    animation-name: animate-fadeout;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    -webkit-animation-name: animate-fadeout;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: backwards;
}
@keyframes animate-fadeout {
    100% {
        opacity: 1;
      }
    0% {
      opacity: 0;
    }
}
.animatezoom {
    animation-name: animate-zoom;
    animation-duration: 0.6s;
    animation-fill-mode: backwards;
    -webkit-animation-name: animate-zoom;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-fill-mode: backwards;
}
@keyframes animate-zoom {
    0% {
      scale: 0;
    }
    100% {
      scale: 1;
    }
}  
.animatezoomout {
    animation-name: animate-zoomout;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    -webkit-animation-name: animate-zoomout;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: backwards;
}
@keyframes animate-zoomout {
    100% {
        scale: 1;
      }
    0% {
      scale: 0;
    }
}  
@media (max-width: 1000px) {
    .form {
        width: 90%;
    }
}
@media (max-width: 844px) {
    .destination {
        margin-top:-70px;
    }
}
@media (max-width: 640px) {
    .destination {
        margin-top:-64px;
    }
}
@media (max-width: 390px) {
    .txtTitle {
        font-size: 20px;
    }
    .destination {
        margin-top:-64px;
    }
}