.divMain {
    padding-top: 1px;;
    padding-bottom: 8px;
}
.animatefade {
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
    -webkit-animation-name: animate-fade;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-fill-mode: backwards;
}
@keyframes animate-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}  