.divMain {
    padding-top: 1px;;
    padding-bottom: 8px;
}
.animatefade {
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
    -webkit-animation-name: animate-fade;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-fill-mode: backwards;
}
@keyframes animate-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}  
.spinner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  align-items: center;
  z-index: 1;
}
.spinnerSize {
  width: 10rem;
  height: 10rem;
}
.p {
  animation: animate-fade 0.8s infinite linear;
}